#admin-bar,
#content-files-mobile,
#content-share-mobile,
#item-pagination-mobile,
#map-toggle-fullscreen-icon,
#nav-bar-menu,
#nav-bar-search,
#photogallery,
#site-logo,
.element-text-language,
.element-text-language-selected,
.element-text-page,
.exhibit-map-toggle-icon,
.exhibit-pagination,
.exhibits .featured,
.featured,
.header-image,
.header-overlay,
.items-content-button,
.map-document-mobile,
.nav-bar,
.nav-bar-menu,
.nav-bar-mobile,
.nav-bar-mobile-button-menu,
.nav-bar-mobile-button-search,
.nav-bar-search,
footer,
header {
  display:none;
  visibility: hidden;
}

#container {
 margin-left: 0 !important;
}

h1 {
  font-size: 32px;
  margin-top: 50px;
}

h3 {
  clear:both;
  display: block;
  padding: 25px 0 0 0;
  margin-bottom: 25px;

}

  .home-map-wrapper {
	  height: 459px;
	}

  
.items.show h3 {
  margin: 25px 0 25px 0;
}

h4 {
  margin-top: 25px;
  padding: 25px 0 0 195px;
}

#home h4,
#exhibit-home-primary h4 {
  margin-top: 25px;
  padding: 25px 0 0 195px;
}

.items #content {
  min-width: 0;
  width: 90%;
}

.items #contentDescription{
  min-width: 0;
  width: 100%;
}

.items-content-button {
  margin: 6px 2px 0 0;
}

.search h1 {
  margin: 25px 0 25px 0;
  min-height: 0;
  min-width: 100px;
  padding-bottom: 0;
  width: 100%;
}

.show h1 {
  min-height: 0;
}

.search-results-pagination {
  margin: 0 0 31px 0;
  width: 100%;
}

.search-results-pagination li {
  list-style-type: none;
}

.search-results-pagination li {
  list-style-type: none;
}

#nav-bar-mobile-icons {
  display: inline;

}

.nav-bar-menu-back,
.nav-bar-search-back {
  display: none;
}


#content {
  margin-left: 5%;
  width: 90%;
}

.content-info-annotation {
  display: block;
}

footer {
  border-left: 0;
  border-right: 0;
  padding: 0 0 10px 0;
}

footer p {
  margin-left: 5%;

}

.footer-logo {
  margin-right: 15px;
  height: 57px;
}

header {
  height: 0;
  margin: -360px 0 0 0;
  margin-left: 5%;
  margin-top: 50px;
}

#home header,
.exhibit-home-header {
  height: 270px;
  margin-left: 5%;

}

.header-overlay {
  height: 230px;
  margin: -180px 0 0 0;
}

.header-image {
  min-height: 80px;
  margin-left: 0;
  margin-top: calc(-50px + 5%);
  height: 110px;
   top: 50px;

}

#home .header-image,
.exhibit-home-header-image {
height: 270px;
  margin-left: 0;
  top: 50px;
}

#home .header-overlay,
.exhibit-home-header-overlay {
  height: 280px;
  margin: -230px 0 0 0;
}

#site-title {
 margin-top: calc(-125px + 1%);
 margin-left: 0;
 width: 90%;
}

#home #site-title,
#exhibit-home-site-title {
  margin-top: calc(80px + 8%);
  margin-left: 0;
  font-size: 28px;
  line-height: normal;
}

#site-subtitle {
  display: none;
}

#home #site-subtitle,
#exhibit-home-site-subtitle {
  display: block;
  margin-left: 0;
  margin-top: 1.5%;

}

  .homepage-text {
    margin: 0 0 15px 0;
  }
  
  .exhibit-home-homepage-text {
    margin: -30px 0 15px 0;
  }

.featured,
.exhibits .featured {
  margin: 30px 0 0 0;
  padding: 0 0 25px 0;
  width: calc(100% + 30px);
}

.featured-carousel  {
	width: 100%;
}

.exhibits .featured-carousel  {
	width: 105%;
}

.exhibits .home-exhibit-featured-carousel  {
	width: 95%;
}

#exhibit-blocks p.footnote {
  font-size: 12px;
}

#site-logo{
  border: 8px solid var(--colorBackground);
  border-bottom: 6px solid var(--colorBackground);
  border-top: 8px solid var(--colorBackground);
  top: 70px;
}
#site-logo img {
  width: 60px;
}

#primary {
  width: 100%;
  }
  
  #home #primary {
  width: 100%;
  }
  
  
  #exhibit-home-primary{
  width: 90%;
  }
  
  
  .home-map {
	  margin-left: -5%;
	  width: 100%;
	}

  .exhibit-block.layout-neatline iframe {
	  margin: 5px 0 0 -5%;
	  width: 100%;
	}
	
	.exhibit-block.layout-neatline  {
	  margin-bottom: -10px;
	}
	
	 #exhibit-home-primary .exhibit-block.layout-neatline {
	height: 310px;
	margin: 0 0 -30px -5.5%;
	width: 50%;
	}
	
.exhibit-map-default,
.exhibit-map-wide,
.exhibit-map-wide-resized,
.exhibit-map-large,
.exhibit-map-large-resized{
	height: 280px;
	margin: 0;
	padding: 0 0 35px 0;
	width: 100%;
	}
	
.exhibit-map-wide iframe,
.exhibit-map-wide-resized iframe,
.exhibit-map-large iframe,
.exhibit-map-large-resized iframe,
  #exhibit-home-primary .exhibit-block.layout-neatline iframe {
	height: 280px;
	margin: 0;
	padding: 0 0 35px 0;
	width: 100%;
	}
	
.exhibit-map-default iframe {
	  margin-top: 0;
	}

#exhibit-blocks .exhibit-subtitle {
  margin: -30px 0 15px 0;
}

#exhibit-blocks p {
  font-size: 14px;
  margin: 0;
  
}

#exhibit-blocks h3 {
  margin: 25px 0 20px 0;
}

#exhibit-home-primary .related-chapters-box{
  margin: 0 0 20px 0;
}

#header-search{
  padding: 0;
  margin-top: calc(-110px - 5%);
  margin-left: 0;
  width: 90%;
}

#header-search input[type=text]{
  width: 100%;
}

#search-container button {

  float: right;
  margin-right: 20px;
  width: 24px;
}

#search-container {

  width: 100%;
  margin: 0;
  padding: 0;
  
}

.search-button-solr {
  right: 10px;
  top: 3px;
}

.search-result {
  min-width: 0;
  width: 100%;
}

.search-result-wrapper {
  margin-left: 0;
  width: 100%;
}

.search-result-title {
  color: var(--colorTitle);
  margin: 0 0 0 93px;
}

#home .search-result-title {
  margin: 0;
}

.search-result-wrapper {
  padding: 0;
}

.search-result p {
  display: inline-block;
  float: none;
  margin: 12px 0 0 0;
  width: 100%;
}


.search-result img {
  height: 76px;
  width: 76px;
  margin: 0 17px 5px 0;
}

.search-result-image-blank {
  display: none;
}

#search-container input[type=text] {
  padding: 10px;
  width: 100%;
}

#search-container {
  padding: 0;
  position: relative;
  margin: 0;
  width: 100%;
}

.header-search-background {
  opacity: 0;
  margin: -80px 0 55px -110px;
}

.related-chapters {
  margin: 25px 0 0 0;
}

.related-chapters-box {
  width: 100%;
}

.exhibit-home-related-chapters-box {
  margin: 0 0 15px 0;
  width: 100%;
}

.related-chapters-title,
.exhibit.record h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 15px 0;
  text-transform: none;
}

.related-chapters img,
.exhibit.record .image {
  display: none;
}

.related-chapters p {
  margin: -5px 0 0 0;
}


#home .related-chapters-box {
  margin-bottom: 40px;
}

#home .related-chapters-title {
  font-size: 22px;
  margin: 0 0 25px 0;
}

#home .related-chapters p {
  font-size: 14px;
}

#item-pagination-desktop {
  display: none;
}
.item-pagination-next {
  margin: 15px 0 0 50px;
   float: right;
}

#content-share {
  display: none;
}

#content-info {
  display: none;
}

#content-files {
  display: none;
  
}

.map-document {
  display: none;
}

.map-document-text {
  display: none;
}

.element-map {
  display: none;
}

.exhibits #content,
.exhibits #contentDescription {
  clear:both;
  font-size: var(--fontDocumentSize);
  line-height: 1.5em;
  margin: 0 5%;
  max-width: 715px;
  padding: 0;
  position: relative;
  width: 90%;
}
