#content {
  border: 0;
  margin: 0 $margin-lg $margin-lg 190px;
  padding: 0;
}

#content-share {
  background: var(--colorBackground);
  color: var(--colorLink);
  float: right;
  height: 0;
  padding: 0;
  position: relative;
  top: 0;
}

body.items.show #content-share {
  margin: 0 -235px 0 0;
  width: 200px;
}

/* FIXME: content-share positioning hacks */
body.exhibits-menu #content-share {
  margin-right: 0;
}

#content-share-mobile {
  display: none;
  height: auto;
  margin: 0;
  padding: $padding-sm 0 $padding-md 0;
  position: relative;
  width: 100%;
}

#content-share-title,
#content-share-subtitle,
#feedback-tab {
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0 0 $margin-sm 0;
}

#content-share-subtitle {
  display: block;
  float: left;
  margin: $margin-sm 0 $margin-sm 0;
  padding: $padding-sm 0 0 0;
  width: 100%;
}

.addthis_inline_share_toolbox {
  margin: 0;
  padding: 0;
}

.at-icon-wrapper.at-share-btn.at-svc-facebook {
  margin-left: 0;
}

.content-share-item {
  float: left;
  cursor: pointer;
  font-weight: normal;
  margin: 0 $margin-md 0 0;
  padding: 0;
}

.content-share-item-icon {
  float: left;
  font-size: 14px;
  margin: 4px 7px 0 0;
}

.content-share-icon {
  cursor: pointer;
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
}

.content-share-icon:hover {
  opacity: 0.8
}

#content-files {
  background: var(--colorBackground);
  color: var(--colorText);
  float: right;
  height: 215px;
  margin: -82px -300px -150px 0;
  padding: 0;
  position: relative;
  width: 265px;
}

#content-files-mobile {
  border-top: 1px dashed var(--colorLineDashed);
  display: none;
  float: left;
  height: 265px;
  margin: 25px 0 0 0;
  padding: $padding-md 0;
  width: 100%;
}

#content-files-gallery-icon {
  color: var(--colorLink);
  float: left;
  font-size: 56px;
  left: 50px;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 82px;
}

#content-files-zoom-icon {
  color: var(--colorLink);
  float: left;
  left: 115px;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
}

#content-files-counter {
  color: var(--colorBackground);
  float: left;
  font-family: var(--fontText);
  font-size: 14px;
  font-weight: bold;
  left: 73px;
  padding: 0;
  position: absolute;
  top: 107px;
}

#content-files img,
#content-files-mobile img {
  margin: 0 0 $margin-sm 0;
}

#content-info {
  background: var(--colorBackground);
  color: var(--colorText);
  float: right;
  height: 0;
  margin: 0 -300px 0 0;
  padding: 0;
  position: relative;
  width: 265px;
}

.content-info-annotation {
  background: var(--colorBackground);
  color: var(--colorText);
  display: block;
  margin: $margin-sm 0 0 0;
  padding: 5px 7px;
  position: relative;
  width: 265px;
}

.content-info-annotation-mobile {
  background: var(--colorBackground);
  display: none;
  margin: $margin-sm 0 0 0;
  max-width: 290px;
  padding: 5px 7px;
  width: 100%;
}

.content-info-annotation-selected {
  background: var(--colorAnnotation);
}

.content-info-entity {
  border: 1px solid var(--colorBorderContent);
  color: var(--colorText);
  display: block;
  margin: $margin-sm 0 0 0;
  max-height: 420px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 265px;
  margin-top: $margin-lg !important;
}

.content-info-entity-body, .content-info-entity-footer {
  border-top: 1px solid var(--colorBorderContent);
  /*height: 373px;*/
  margin: 0;
  overflow: auto;
  padding: 0 $padding-md $padding-sm $padding-md;
  width: 100%;
}

.content-info-entity-body img {
  display: block;
  height: 110px;
  margin: $padding-md;
  padding: 0;
}

#content-info-entity-close {
  color: var(--colorLink);
  cursor: pointer;
  font-size: 22px;
  right: 10px;
  top: 11px;
  padding: 0;
  position: absolute;
}

#content-info-entity-open {
  color: var(--colorLink);
  cursor: pointer;
  font-size: 22px;
  right: 38px;
  top: 11px;
  padding: 0;
  position: absolute;
}

.content-info-entity-body p, .content-info-entity-footer a {
  display: block;
  padding: 0;
  position: relative;
}

.content-info-entity-body > .content-info-entity-note {
  padding: 0 18px 0 18px !important;
}

.content-info-entity-body .content-info-entity-footer a .material-icons {
  margin-right: 6px !important;
  font-size: 20px;
  margin-top: -3px;
}

.content-info-entity-body .content-info-entity-footer a:hover {
  background-color: var(--colorEntityRef) !important;
  text-decoration: none;
}

.content-info-entity.affixed, #content-info .tei-note.affixed {
  top: 0 !important;
}

#language-selector {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
  overflow: auto;
}

#language-selector li {
  float: left;
}

#document-metadata #content-files {
  position: relative;
  right: 0;
  float: right;
  margin: 0 -300px 0 0;
}

.content-info-entity {
  margin: 0;
  max-height: none;
}

.content-info-entity-body {
  padding: 0;
}

.editions-item-group {
  padding: $padding-lg 0;
}

.element-metadata-field {
  margin: $margin-sm 0 0 0;
  font-size: 14px;
}

.element-text-document {
  font-family: var(--fontDocument);
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 23px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.element-text-language, .element-text-language-selected {
  color: var(--colorLink);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: $margin-xs $margin-sm $margin-sm 0;
  padding: 0 0 $padding-xs 0;
}

.element-text-language-selected {
  border-bottom: 1px solid var(--colorLink);
  cursor: default;
}

.element-text-language:hover {
  color: var(--colorLinkHover);
}

.element-text-page {
  background: var(--colorButton);
  font-size: 14px;
  height: 35px;
  margin: $margin-sm 0 $margin-md 0;
  padding: $padding-xs 0 0 $padding-sm;
  width: 100%;
}

#element-text-page-icon {
  float: left;
  font-size: 16px;
  margin: 3px 6px 0 3px;
}

.element-text-page:hover {
  cursor: pointer;
}

.element-text-page:hover.element-text-page a {
  cursor: pointer;
  text-decoration: underline;
}

.element-text-page img {
  float: left;
  margin: 4px 10px 0 5px;
}

.element-map {
  border: 1px solid var(--colorBorderInput);
  margin: 0 0 $margin-xs 0;
}

.element {
  display: block;
  margin: 0 0 $margin-xs 0;
}

.element-set {
  margin: 0 0 $margin-md 0;
}

/* @end */


