/*
 * Styling related to the content on item pages.
 */

.items-content-button,
#comment-form input[type="submit"],
.feedback-button {
  background: var(--colorButton);
  border: 0;
  color: var(--colorLink);
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-sm;
  font-weight: bold;
  letter-spacing: 1px;
  margin: $margin-sm $margin-xs/4 0 0;
  padding: $margin-xs $margin-md;

  &:hover {
    opacity: 0.8
  }
}

#item-texts {
  font-size: var(--fontDocumentSize);
}

#content-share {
  background: var(--colorBackground);
  color: var(--colorLink);
  margin-bottom: $margin-lg;
}

#content-share:last-child {
  margin-bottom: 0;
}

#content-share-with {
  display: flex;
  justify-content: flex-start;
  font-size: $font-size-sm;
}

#content-share-mobile {
  display: none;
  height: auto;
  margin: 0;
  padding: $margin-sm 0 $margin-md 0;
  position: relative;
  width: 100%;
}

.sidebar-section {
  margin-bottom: $margin-md;
}

.sidebar-section > h4 {
  font-size: $font-size-sm;
  letter-spacing: 1px;
  margin-bottom: $margin-sm;
}

#content-share-subtitle {
  display: block;
  margin: $margin-sm 0 $margin-sm 0;
  padding: $margin-sm 0 0 0;
}

.addthis_inline_share_toolbox {
  margin: 0;
  padding: 0;
}

.at-icon-wrapper.at-share-btn.at-svc-facebook {
  margin-left: 0;
}

.content-share-item {
  font-weight: normal;
  vertical-align: middle;
}

.content-share-item+.content-share-item {
  margin-left: $margin-md;
}

.content-share-item-icon {
  font-size: $font-size-sm;
}

.content-share-icon {
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    opacity: 0.8
  }
}

#content-files,
#content-files-mobile {
  @include clearfix();
  background: var(--colorBackground);
  color: var(--colorText);
  //float: right;
  //height: 215px;
  //margin: -82px -300px -150px 0;
  padding: 0;
  position: relative;
  margin-bottom: $margin-lg;

  //width: 265px;
  #photogallery-container {
    float: left;
    position: relative;

    > #photogallery > figure {
      margin: 0;
      display: none;

      &:first-child {
        display: block;
      }
    }
  }
}

#content-files {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

#content-files-mobile {

  #photogallery-container {
    margin-bottom: $margin-md;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

#content-files-gallery-icon {
  color: var(--colorLink);
  float: left;
  font-size: 56px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  pointer-events: none;
  position: absolute;
}

#content-files-zoom-icon {
  color: var(--colorLink);
  float: left;
  right: 10px;
  top: 10px;
  pointer-events: none;
  position: absolute;
}

#content-files-counter {
  color: var(--colorBackground);
  float: left;
  font-family: var(--fontText);
  font-size: $font-size-sm;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-20%);
  position: absolute;
  pointer-events: none;
}

#content-files img {
  max-width: 12.5rem;
}

#content-info {
  background: var(--colorBackground);
  color: var(--colorText);
  //float: right;
  //height: 0;
  //margin: 0 -300px 0 0;
  padding: 0;
  //position: relative;
  //width: 265px;
  position: sticky;
  top: 1rem;
}

.content-info-annotation {
  background: var(--colorBackground);
  color: var(--colorText);
  display: block;
  margin: $margin-sm 0 0 0;
  padding: 5px 7px;
  position: relative;
  width: 265px;
}

.content-info-annotation-mobile {
  background: var(--colorBackground);
  display: none;
  margin: $margin-sm 0 0 0;
  max-width: 290px;
  padding: 5px 7px;
  width: 100%;
}

.content-info-annotation-selected {
  background: var(--colorAnnotation);
}

.content-info-entity {
  background-color: var(--white);
  border: 1px solid var(--colorBorderContent);
  color: var(--colorText);
  display: block;
  max-height: 420px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 16rem;
  box-shadow: $box-shadow-sm;
}

.content-info-entity-body, .content-info-entity-footer {
  border-top: 1px solid var(--colorBorderContent);
  /*height: 373px;*/
  margin: 0;
  overflow: auto;
  padding: 0 $margin-md $margin-sm $margin-md;
  width: 100%;
}

.content-info-entity-body img {
  display: block;
  height: 110px;
  margin: $margin-md;
  padding: 0;
}

#content-info-entity-close {
  color: var(--colorLink);
  cursor: pointer;
  font-size: $font-size-xl;
  right: 10px;
  top: 11px;
  padding: 0;
  position: absolute;
}

#content-info-entity-open {
  color: var(--colorLink);
  cursor: pointer;
  font-size: $font-size-xl;
  right: 38px;
  top: 11px;
  padding: 0;
  position: absolute;
}

.content-info-entity-body p, .content-info-entity-footer a {
  display: block;
  padding: 0;
  position: relative;
}

.content-info-entity-body > .content-info-entity-note {
  padding: 0 18px 0 18px !important;
}

.content-info-entity-body .content-info-entity-footer a .material-icons {
  margin-right: 6px !important;
  font-size: $font-size-lg;
  margin-top: -3px;
}

.content-info-entity-body .content-info-entity-footer a:hover {
  background-color: var(--colorEntityRef) !important;
  text-decoration: none;
}

#language-selector {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
  overflow: auto;
}

#language-selector li {
  float: left;
}

.document-section-tabs {
  margin-bottom: $margin-lg;
}

.document-section-tabs a {
  display: block;

  @include media-breakpoint-up(md) {
    display: inline-block;
  }
}

.document-section {
  padding-bottom: $margin-md;
  border-bottom: 1px dashed var(--colorLineDashed);
  margin-bottom: $margin-md;

  @include media-breakpoint-up(md) {
    padding-bottom: $margin-lg;
    margin-bottom: $margin-lg;
  }
}

.document-section:last-child {
  border-bottom: none;
}

//#document-metadata #content-files {
//  position: relative;
//  right: 0;
//  float: right;
//  margin: 0 -300px 0 0;
//}

.content-info-entity {
  margin: 0;
  max-height: none;
}

.content-info-entity-body {
  padding: 0;
}

.editions-item-group {
  padding: $margin-lg 0;
}

.element-text-document {
  font-family: var(--fontDocument);
  font-size: $font-size-sm;
  letter-spacing: 1px;
  line-height: 23px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.element-text-language {
  color: var(--colorLink);
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-sm;
  font-weight: bold;
  letter-spacing: 1px;
  margin: $margin-xs $margin-sm $margin-sm 0;
  padding: 0 0 $margin-xs 0;

  &.selected {
    border-bottom: 1px solid var(--colorLink);
    cursor: default;
  }

  &:hover {
    color: var(--colorLinkHover);
  }
}

.element-text-page {
  background: var(--colorButton);
  font-size: $font-size-sm;
  margin: $margin-sm 0 $margin-md 0;
  padding: $margin-xs;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

#element-text-page-icon {
  float: left;
  font-size: $font-size-base;
  margin: 3px 6px 0 3px;
}

.element-text-page:hover.element-text-page a {
  cursor: pointer;
  text-decoration: underline;
}

.element-text-page img {
  float: left;
  margin: 4px 10px 0 5px;
}

.element-map {
  border: 1px solid var(--colorBorderInput);
  margin: 0 0 $margin-xs 0;
}

.element {
  display: block;
  margin: 0 0 $margin-xs 0;
}

.element-set {
  margin: 0 0 $margin-md 0;
}

.fullsize {
  margin-right: $margin-sm;
}


/* @end */


