/* @group ----- Exhibits/Show ----- */
.exhibit {
  clear: both;
}

.exhibit .description {
  float: none;
}

.exhibit .description ~ * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* @group ----- Exhibits/Show ----- */
#exhibit-pages {
  width: 100%;
}

/* @group ----- Exhibit Builder ----- */
.exhibit-pagination {
  clear: both;
  //margin: 30px 0 15px 0;
  //max-width: 550px;
  //overflow: hidden;
  //width: 80%;
}

.exhibits.summary h1 {
  margin: 50px 0 0 -1px;
}

.exhibits.summary .exhibit-description p {
  color: var(--colorTitle);
  font-size: $font-size-lg;
  line-height: 1.5em;
  margin: $margin-sm 0 $margin-lg 0;
  //max-width: 850px;
}

.exhibits.summary #exhibit-pages ul {
  font-size: $font-size-base;
  margin: 0;
}

.exhibits.summary #content-share-subtitle {
  margin-top: 0;
  padding-top: 0;
}

.exhibits #content {
  clear: both;
  font-size: var(--fontDocumentSize);
  line-height: 1.5em;
  //max-width: 715px;
  padding: 0;
  //width: calc(100% - 440px);
}

.exhibits #content-share {
  //margin: -$margin-md -242px 0 0;
  position: relative;
  //top: 20px;
  //width: 210px;
}

.pagination + .exhibit {
  border-top: 1px solid #eee;
}

#exhibit-pages {
  //width: 220px;
  display: inline-block;
}

#exhibit-pages h4 {
  font-family: var(--fontText);
  font-weight: normal;
}

#exhibit-pages a {
  text-decoration: none;
}

#exhibit-pages > ul {
  border-color: #eee;
  border-top-style: solid;
  border-top-width: 0.08333em;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-top: $margin-md;
}

#exhibit-pages > ul > li {
  border-bottom-style: solid;
  border-bottom-width: 0.08333em;
  border-color: #eee;
  margin-bottom: $margin-md;
  padding-bottom: $margin-md;
}

#exhibit-pages ul li > ul {
  padding-left: $margin-md;
  margin-left: 0;
}

#exhibit-pages ul li > ul li {
  text-indent: -1.5em;
}

#exhibit-pages ul li > ul li:before {
  content: "\2014";
}

#exhibit-pages li {
  list-style-type: none;
  margin-left: 0;
}

#exhibit-pages .current {
  font-weight: bold;
}

#exhibit-pages .current > *:not(a) {
  font-weight: normal;
}

#exhibit-pages > ul > li:not(.parent) ul {
  display: none;
}

#exhibit-pages > ul > li.current ul {
  display: block;
}

.secondary-nav + .exhibit {
  border-top: 0;
  padding-top: 0;
}

#exhibit-pages ul ul {
  margin: 0;
}

.exhibits #content > #exhibit-blocks,
#exhibit-page-navigation,
.exhibits.summary #primary {
  display: inline;
  margin: 0;
  padding: 0;
  width: 100%;
}

#exhibit-blocks p {
  color: var(--colorText);
  font-size: $font-size-base;
  line-height: 1.5em;
  margin: 0 0 $margin-sm 0;
}

#exhibit-blocks p.footnote {
  color: var(--colorBorderInput);
  font-size: $font-size-sm;
}

.footnote-ref {
  font-size: 0.8em;
  left: -2px;
  position: relative;
  top: -4px;
  vertical-align: top;
}

#exhibit-blocks h2 {
  font-size: $font-size-xl;
  letter-spacing: 1px;
  line-height: 1.35em;
  margin: $margin-lg 0 0 0;
}

#exhibit-blocks h3 {
  float: left;
  padding: $margin-md 0 $margin-sm 0;
  margin-top: $margin-sm;
  width: 100%;
}

.related-chapters-box-exhibit {
  margin-bottom: 75px;
}

#exhibit-blocks #map-toggle-fullscreen {
  margin: -$margin-xl 0 0 0;
}

.exhibit-block {
  clear: both;
  margin-bottom: $margin-md;
}

.exhibit-block .exhibit-subtitle {
  color: var(--colorTitle);
  font-size: $font-size-lg;
  line-height: 1.5em;
  margin: -$margin-xs 0 $margin-sm 0;
}

#exhibit-blocks .exhibit-strong-title {
  border: 0;
  color: var(--colorTitle);
  letter-spacing: 1px;
  padding: 0;
  margin: 0 0 $margin-sm 0;
}

.exhibit-item-caption {
  float: left;
  font-size: $font-size-sm;
  padding: $margin-xs 0 $margin-sm 0;
}

#exhibit-blocks .exhibit-item-caption p {
  font-size: $font-size-sm;
}

.exhibit-page-nav a:hover,
.exhibit-page-nav a:active,
.exhibit-page-nav .current a {
  background: #ff8000;
}

.exhibit-pagination .next a {
  color: var(--colorLink);
  float: right;
  text-align: right;
}

#exhibit-page-navigation {
  clear: none;
}

.exhibit .description,
.exhibit .description ~ * {
  display: inline;
  float: left;
  margin-left: $margin-sm;
  margin-right: $margin-sm;
  //width: 100%;
}

.exhibit .description ~ * {
  display: block;
  float: none;
  margin: 0 auto;
  padding: 0 $margin-lg 0 $margin-lg*2;
}

.exhibit-items img:first-of-type {
  //width: 100%;
}

.exhibit-examples {

}

.layout-gallery .gallery {
  //overflow: hidden;
  //width: 110%;
}

.layout-gallery .gallery .exhibit-item,
.layout-gallery .gallery .exhibit-item:nth-of-type(2n),
.layout-gallery .gallery .exhibit-item:nth-of-type(4n) {
  float: left;
  margin: 0 3.9% 0 0;
  position: relative;
  width: 27.72%;
}

/* ?????? */

