/* FEEDBACK */

#feedback {
  position: relative;
  @include clearfix();
}

#feedback-form {
  background: var(--colorBackground);
  border: 1px solid var(--colorBorderContent);
  color: var(--colorText);
  height: 320px;
  //margin: $margin-md 0 0 3px;
  max-height: 420px;
  overflow: hidden;
  padding: $margin-md;
  position: absolute;
  width: 265px;
  float: left;
  z-index: 20000;
  box-shadow: $box-shadow-sm;
}

#feedback-tab {
  color: var(--colorLink);
  cursor: pointer;
  display: block;
  margin: $margin-xs 0 $margin-sm 3px;
  padding: $margin-sm 0 0 0;
}

#feedback-form h5 {
  margin: -$margin-md 0 $margin-sm -$margin-md;
  padding: $margin-sm $margin-md;
  width: 125%;
}

#feedback-close {
  color: var(--colorLink);
  cursor: pointer;
  font-size: $font-size-xl;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 11px;
}

#feedback-form input[type="email"] {
  width: 100%;
  margin: 5px 0 5px 0;
  padding: $margin-xs $margin-sm;
}

#feedback-form input[name="title"],
#feedback-form input[name="username"],
#feedback-form input[name="url"] {
  display: none;
}

#feedback-form textarea {
  height: 138px;
  margin: $margin-sm 0 -3px 0;
  padding: $margin-xs $margin-sm;
  width: 100%;
}

.feedback-button {
  float: right;
  margin: $margin-sm 0 -$margin-sm 0;
}

#feedback-tab:hover {
  text-decoration: underline;
}

#feedback-form textarea {
  resize: none;
}

#feedback-thanks {
  float: left;
  background-color: #28a745;
  padding: $margin-sm;
  color: #fff;
  font-size: 1.2em;
  display: none;
  z-index: 20000;
  position: absolute;
  box-shadow: $box-shadow-sm;
}

