/* @group ----- Footer ----- */
#footer {
  background: var(--colorBackground);
  border-top: 1px solid var(--colorLine);
  color: var(--colorText);
  display: block;
  font-size: $font-size-sm;
  //float: left;
  //margin: 0;
  //overflow: hidden;
  //padding: $margin-lg 0 $margin-lg 190px;
  //width: 100%;
  margin-top: auto;
}

#footer-content {
  @include make-container();
  @extend .container;
}

#footer a {
  text-decoration: none;
}

#footer .navigation {
  float: none;
  text-align: left;
  width: 100%;
  font-weight: bold;
}

#footer .navigation li {
  display: inline;
}

#footer .navigation li:after {
  content: " \00B7";
  margin: 0 10px 0 5px;
}

#footer .navigation li:last-child {
  margin: 0;
}

#footer .navigation li:last-child:after {
  content: "\00A0";
  display: none;
}

#footer .navigation a {
  white-space: nowrap;
}

#footer nav + p {
  text-align: right;
}

.footer-logo {
  border: 0;
  margin: $margin-sm $margin-lg 0 0;
}

#footer-text {
  float: left;
  width: 48%;
}

/* @end */
