/* @group ----- Home ----- */
#home h4,
#exhibit-home-primary h4 {
  display: block;
}

.homepage-text,
#exhibit-home-primary .homepage-text {
  color: var(--colorTitle);
  font-size: $font-size-lg;
  line-height: 1.4;
}

.homepage-project {
  font-size: $font-size-sm;
  margin: 20px 0 0 0;
}

#home .related-chapters-box {
  display: block;
  @include clearfix();
}

#homepage-exhibit .exhibit-block.layout-neatline > iframe,
#exhibit-blocks .exhibit-block.layout-neatline > iframe {
  height: 449px;
  width: 100%;
  border: 1px solid var(--colorBorderInput);
}

.home-map-wrapper,
.exhibit-block.layout-neatline {
  height: 449px;
}

#exhibit-home-primary .exhibit-block.layout-neatline {
  margin-bottom: -20px;
}

.home-map,
#exhibit-home-primary .exhibit-block.layout-neatline iframe {
  border: 0;
  display: block;
  height: 460px;
  margin: 25px 0 0 -110px;
  position: absolute;
  width: calc(100% - 80px)
}

#exhibit-home-primary .exhibit-block.layout-neatline iframe {
  margin-top: 5px;
}

.home-map-resized {
  border: 0;
  display: block;
  height: 460px;
  margin: 25px 0 40px -70px;
  position: absolute;
  width: calc(100% - 360px)
}

#home .recently-added-wrapper {
  margin: 25px 0 0 0;
  padding-bottom: 25px;
}

#exhibit-home-primary .recently-added-wrapper {
  margin: 25px 0 0 0;
}

/* @end */
