
/* Non-theme variables */
:root {
  --white: #fff;
}

/*! DEFAULT FONT */
h1, h2, h3, h4, h5, h6,
#content-share-report,
#content-share-subtitle,
#feedback-tab,
#content-share-title,
.element-text-language,
.element-text-language-selected,
.exhibit-strong-title,
.items-content-button,
#comment-form input[type="submit"],
.feedback-button,
.map-toggle-fullscreen,
.nav-bar-button,
.nav-bar-search-category,
.nav-bar-search-group,
.related-chapters-title,
.item-summary-title,
.search-results-previous,
.search-results-next,
#site-title,
#exhibit-home-site-title {
  font-family: var(--fontTitle);
  color: var(--colorTitle);
  font-weight: bold;
  text-transform: uppercase;
}

/*! MATERIAL ICONS */
.material-icons,
.content-share-item-icon,
.nav-bar-back-icon,
#nav-bar-limit-expand,
#nav-bar-limit-shrink,
.nav-bar-search-item-close,
.search-button-solr,
#search-container button,
#header-search button,
.search-results-image-next,
.search-results-image-previous {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* -- Misc Block elements -- */
p, ul, ol, dl {
  margin: 1.5em 0;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

/* @group ----- Generic ----- */
// NB: removing this really messes up
// the display of the left menu
* {
  //-moz-box-sizing: border-box;
  //-webkit-box-sizing: border-box;
  //box-sizing: border-box;
}



*:focus {
  outline: none;
}

html {
  font-family: var(--fontText);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  height: 100%;
}

body {
  background: var(--colorBackground);
  color: var(--colorText);
  font-family: var(--fontText);
  //font-size: $font-size-sm;
  //height: 100%;
  min-height: 100%;
  line-height: 18px;
  margin: 0;
  //overflow-x: hidden;
}

/* -- Headings -- */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: $margin-md;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 1.25em;
  text-transform: none;

  @include media-breakpoint-up(md) {
    font-size: 42px;
  }
}

h2 {
  font-size: $font-size-xl;
  line-height: 36px;
}

h3,
#exhibit-blocks .exhibit-strong-title {
  font-weight: bold;
  font-size: $font-size-xl;
}

h4 {
  font-weight: bold;
  font-size: $font-size-xl;
}

h5 {
  font-size: $font-size-sm;
  letter-spacing: 1px;
  margin: $margin-sm $margin-md;
  padding: 0;
}

h4 {
  font-weight: bold;
}

h6 {
  color: #666;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

/* -- Misc Inline elements -- */
//em, i {
//  font-style: italic;
//}
//
//strong, b {
//  font-weight: bold;
//}
//
//abbr, acronym {
//  border: none;
//  font-style: normal;
//}
//
//blockquote {
//  margin: 0 3em;
//  font-style: italic;
//}

dt {
  font-weight: bold;
}

dd {
  margin-left: $margin-md;
}

/* -- Links -- */
a:link {
  color: var(--colorLink);
  text-decoration: none;
}

a:visited {
  color: var(--colorLink);
  // darken link colour
  filter:brightness(85%);
}

a:hover,
a:active {
  color: var(--colorLinkHover);
}

/* @end */
.related-chapters,
.exhibit.record {
  @include clearfix();
  max-width: 80%;
}

#home .related-chapters {
  margin: $margin-md 0 0 0;
}

//.related-chapters img,
//.exhibit.record img {
//  border: 0;
//  height: 11rem;
//  float: left;
//  margin: 0 $margin-lg $margin-sm 0;
//  width: 16rem;
//}
//
//.exhibit.record img {
//  border: 0;
//  margin-top: -45px;
//  height: 16rem;
//  width: 16rem;
//}
//
//.exhibit.record .image {
//  height: 11rem;
//  float: left;
//  overflow: hidden;
//  margin: -2.5rem 0 0 0;
//  width: 16rem;
//}

//.related-chapters-title,
//.exhibit.record h3 {
//  border: 0;
//  font-size: $font-size-lg;
//  font-weight: bold;
//  margin: 0 0 $margin-lg 16 + $margin-md;
//  padding: 0;
//  text-transform: none;
//}
//
//#home .related-chapters-title,
//.exhibit.record h3 {
//  color: var(--colorLink);
//  font-size: $font-size-xl;
//  font-weight: bold;
//  margin: $margin-md 0 $margin-md 16 + $margin-md;
//  text-transform: none;
//  width: 100%;
//}
//
//.related-chapters p,
//.exhibit.record p {
//  font-size: $font-size-base;
//  margin: $margin-sm 0 0 16 + $margin-md;
//  max-width: 675px;
//}

// This code tries to impose consistent styling and layout
// on three types of list item (thumbnail, title, text).
// They are: exhibit records, item records, and the item-summary
// rendered in search lists.
.exhibit.record,
.item.record,
.item-summary {
  display: grid;

  grid-template-areas: "thumb title" "text text";
  grid-template-rows: max-content auto;
  grid-template-columns: min-content auto;
  grid-gap: $margin-md;

  @include media-breakpoint-up(md) {
    grid-template-areas: "thumb title" "thumb text";
    grid-template-rows: max-content auto;
    grid-template-columns: max-content auto;
    grid-gap: $margin-lg;
    grid-row-gap: $margin-md;
  }
}

// List item title/heading
.related-chapters-title,
.exhibit.record h3,
.item.record > h2,
.item-summary-title {
  grid-area: title;
  margin-bottom: 0;
  font-size: $font-size-xl;
  line-height: 1.25;
  text-transform: none;
}

// List item thumbnail
.exhibit.record .image,
.item.record > .item-img,
.item-summary .image {
  grid-area: thumb;
  margin: 0;
  height: 11rem;
  width: 16rem;
  overflow: hidden;
}

// The list item details/text
.exhibit.record p,
.item.record > .item-meta,
.item-summary > .record-metadata {
  grid-area: text;
  font-size: $font-size-sm;
  margin: 0 0 $margin-sm 0;

  p,
  .item-description {
    margin: 0 0 $margin-sm 0;
  }
}

// Item browse/summary image is less wide than exhibit
// images
.item.record > .item-img,
.item-summary .image {
  width: 9rem;
  height: 9rem;

  img {
    width: 9rem;
  }
}

// Add a border between list items...
.item-summary+.item-summary,
.item-list > li + li,
.item.record+.item.record,
.editions-item+.editions-item {
  padding-top: $margin-lg;
  border-top: 1px dashed var(--colorLine);
  margin-top: $margin-lg;
}

// Apply some spacing between a item embedded within
// an exhibit and the text before it.
p+.editions-item {
  margin-top: $margin-md;
}

// TODO: fix this MS grid stuff...
@media all and (-ms-high-contrast:none) {
  .exhibit.record {
    display: -ms-grid;
    -ms-grid-columns: 1max-content 1auto;
    -ms-grid-rows: 1max-content 1auto;
  }

  .exhibit.record .image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .exhibit.record h3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .exhibit.record p {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
}

// Restyle the featured items carousel so only the image
// and title display, with the title overlaid on a semi-
// transparent background
.featured-items {
  width: 90%;

  .item.record {
    padding-right: $margin-sm;
    position: relative;
    width: 100%;
  }

  h2 {
    display: block;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    right: $margin-sm;
    float: left;
    a {
      display: block;
      padding: $margin-sm;
      font-size: $font-size-base;
      color: var(--white);
      font-weight: normal;
    }
  }

  .item.record > .item-img,
  .item.record > .item-img > a > img {
    width: 100%;
    height: auto;
  }

  .item-meta {
    display: none;
  }
}

#featured-items-container,
#recent-items
{
  border-top: 1px solid var(--colorLine);
}


#home .related-chapters p,
.exhibit.record p {
  line-height: 1.54;
  max-width: 100%;
}

.related-chapters:hover {
  opacity: 0.8;
}

.exhibit-home-related-chapters-box .exhibit.record:hover {
  opacity: 0.8;
}

.exhibit-home-related-chapters-box .exhibit.record:hover .exhibit.record h3 {
  color: var(--colorLink);
  text-decoration: underline;
}

.related-chapters:hover .related-chapters-title {
  color: var(--colorLink);
  text-decoration: underline;
}

// Related documents
.related-documents {
  padding-left: 0;
  display: flex;
  flex-direction: row;

  li {
    list-style: none;
    width: 33%;
    height: auto;
  }
  li:first-child .item-container {
    margin-left: 0;
  }
}

#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#skipnav:focus {
  border: 1px blue dashed;
  clip: initial;
  color: #ff8000;
  height: auto;
  padding: $margin-xs;
  top: 0;
  width: auto;
  z-index: 9999;
}

#previous-item-icon {
  float: left;
  font-size: $font-size-lg;
  margin: 1px 0 0 -5px;
  padding: 0;
}

#next-item-icon {
  float: right;
  font-size: $font-size-lg;
  margin: 1px 0 0 0;
}

/* @end */
/* @group ----- Navigation ----- */
.navigation {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.navigation a {
  text-decoration: none;
}

#admin-bar ul {
  display: inline-block;
}

#primary-nav {
  clear: both;
  margin: 0 0 $margin-md 240px;
  padding: 0;
  position: relative;
  width: 980px;
  z-index: 50;
}

.item-file img {
  max-width: 100%;
}

#sort-links + .item,
#sort-links + .collection,
nav + .exhibit {
  border-top: 1px solid #eee;
}

.featured,
.exhibits .featured {
  display: block;
  margin: $margin-xl 0 0 0;
  //max-width: 1170px;
  padding: 0 0 1px 0;
  width: 100%;
}

.exhibits .featured {
  height: 410px;
}

.featured-carousel {
  display: block;
  height: 320px;
  margin: $margin-md 0 0 0;
  //max-width: 1170px;
  padding: 0;
  width: calc(100% + 30px);
}

.exhibits .featured-carousel {
  position: absolute;
  //max-width: 1170px;
  //width: calc(100% - 230px);
}

.exhibits .home-exhibit-featured-carousel {
  //width: calc(100% - 270px);
}

.carousel-item {
  display: block;
  overflow: hidden;
  //width: 100%;
}

#recent-items .item {
  margin-bottom: $margin-md;
  overflow: hidden;
}

#recent-items .item .image {
  height: 6em;
}

#recent-items .item h3 {
  margin-top: 0;
}

.view-items-link {
  margin-bottom: 0;
}

/* @end */

/* @group ----- Other plugin styles ----- */
#collection-tree {
  margin-left: auto;
  margin-right: auto;
}

#recaptcha_area input {
  display: inline;
}
/* @end */

