
/* Non-theme variables */
:root {
  --white: #fff;
}

/*! DEFAULT FONT */
h1, h2, h3, h4, h5, h6,
#content-share-report,
#content-share-subtitle,
#feedback-tab,
#content-share-title,
.element-text-language,
.element-text-language-selected,
.exhibit-strong-title,
.items-content-button,
#comment-form input[type="submit"],
.feedback-button,
.map-toggle-fullscreen,
.nav-bar-button,
.nav-bar-search-category,
.nav-bar-search-group,
.related-chapters-title,
.item-summary-title,
.search-results-previous,
.search-results-next,
#site-title,
#exhibit-home-site-title,
label {
  font-family: var(--fontTitle);
  color: var(--colorTitle);
  font-weight: bold;
  text-transform: uppercase;
}

/*! MATERIAL ICONS */
.material-icons,
.content-share-item-icon,
.nav-bar-back-icon,
#nav-bar-limit-expand,
#nav-bar-limit-shrink,
.nav-bar-search-item-close,
.search-button-solr,
#search-container button,
#header-search button,
.search-results-image-next,
.search-results-image-previous {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* -- Misc Block elements -- */
p, ul, ol, dl {
  margin: 1.5em 0;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

/* @group ----- Generic ----- */
// NB: removing this really messes up
// the display of the left menu
* {
  //-moz-box-sizing: border-box;
  //-webkit-box-sizing: border-box;
  //box-sizing: border-box;
}



*:focus {
  outline: none;
}

html {
  font-family: var(--fontText);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  height: 100%;
}

body {
  background: var(--colorBackground);
  color: var(--colorText);
  font-family: var(--fontText);
  font-size: $font-size-sm;
  //height: 100%;
  min-height: 100%;
  line-height: 18px;
  margin: 0;
  //overflow-x: hidden;
}

/* -- Headings -- */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: $margin-md;
}

h1 {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 1.25em;
  text-transform: none;
}

#exhibit-title {
  margin: $margin-md 0 $margin-md -1px;
  min-height: 0;
  max-width: 80%;
}

h2 {
  font-size: $font-size-xl;
  line-height: 36px;
}

h3,
#exhibit-blocks .exhibit-strong-title {
  font-weight: bold;
  font-size: $font-size-xl;
}

h4 {
  font-weight: bold;
  font-size: $font-size-xl;
}

h5,
label {
  font-size: $font-size-sm;
  letter-spacing: 1px;
  margin: $margin-sm $margin-md;
  padding: 0;
}

h4 {
  font-weight: bold;
}

h6 {
  color: #666;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

/* -- Misc Inline elements -- */
//em, i {
//  font-style: italic;
//}
//
//strong, b {
//  font-weight: bold;
//}
//
//abbr, acronym {
//  border: none;
//  font-style: normal;
//}
//
//blockquote {
//  margin: 0 3em;
//  font-style: italic;
//}

dt {
  font-weight: bold;
}

dd {
  margin-left: $margin-md;
}

/* -- Links -- */
a:link {
  color: var(--colorLink);
  text-decoration: none;
}

a:visited {
  color: var(--colorLink);
  // darken link colour
  filter:brightness(85%);
}

a:hover, a:active {
  color: var(--colorLinkHover);
}

//img a {
//  border: none;
//}

/* @end */
.related-chapters,
.exhibit.record {
  @include clearfix();
  max-width: 80%;
}

#home .related-chapters {
  margin: $margin-md 0 0 0;
}

.related-chapters img,
.exhibit.record img {
  border: 0;
  height: 176px;
  float: left;
  margin: 0 $margin-lg $margin-sm 0;
  width: 265px;
}

.exhibit.record img {
  border: 0;
  margin-top: -45px;
  height: 265px;
  width: 265px;
}

.exhibit.record .image {
  height: 176px;
  float: left;
  overflow: hidden;
  margin: -$margin-xl $margin-lg $margin-sm 0;
  width: 265px;
}

#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#skipnav:focus {
  border: 1px blue dashed;
  clip: initial;
  color: #ff8000;
  height: auto;
  padding: $margin-xs;
  top: 0;
  width: auto;
  z-index: 9999;
}

#previous-item-icon {
  float: left;
  font-size: $font-size-lg;
  margin: 1px 0 0 -5px;
  padding: 0;
}

#next-item-icon {
  float: right;
  font-size: $font-size-lg;
  margin: 1px 0 0 0;
}

/* @end */
/* @group ----- Navigation ----- */
.navigation {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.navigation a {
  text-decoration: none;
}

#admin-bar ul {
  display: inline-block;
}

#primary-nav {
  clear: both;
  margin: 0 0 $margin-md 240px;
  padding: 0;
  position: relative;
  width: 980px;
  z-index: 50;
}

.item-file img {
  max-width: 100%;
}

#sort-links + .item,
#sort-links + .collection,
nav + .exhibit {
  border-top: 1px solid #eee;
}

.featured,
.exhibits .featured {
  display: block;
  margin: $margin-xl 0 0 0;
  //max-width: 1170px;
  padding: 0 0 1px 0;
  width: 100%;
}

.exhibits .featured {
  height: 410px;
}

.featured-carousel {
  display: block;
  height: 320px;
  margin: $margin-md 0 0 0;
  //max-width: 1170px;
  padding: 0;
  width: calc(100% + 30px);
}

.exhibits .featured-carousel {
  position: absolute;
  //max-width: 1170px;
  //width: calc(100% - 230px);
}

.exhibits .home-exhibit-featured-carousel {
  //width: calc(100% - 270px);
}

.carousel-item {
  display: block;
  overflow: hidden;
  //width: 100%;
}

#recent-items .item {
  margin-bottom: $margin-md;
  overflow: hidden;
}

#recent-items .item .image {
  height: 6em;
}

#recent-items .item h3 {
  margin-top: 0;
}

.view-items-link {
  margin-bottom: 0;
}

/* @end */

/* @group ----- Other plugin styles ----- */
#collection-tree {
  margin-left: auto;
  margin-right: auto;
}

#recaptcha_area input {
  display: inline;
}
/* @end */

