/* @group ----- Items ----- */
#content {
  clear: both;
  font-size: var(--fontDocumentSize);
  line-height: 1.5em;
  padding: $margin-lg 0;

  @include make-container();
  @extend .container;
}

.two-columns #content {

  @include media-breakpoint-up(lg) {

    > #main {
      @include make-row();

      > #primary {
        @include make-col-ready();
        @include make-col(9);
      }

      > #sidebar {
        @include make-col-ready();
        @include make-col(3);
      }
    }
  }
}

.items-content-button,
#comment-form input[type="submit"],
.feedback-button {
  background: var(--colorButton);
  border: 0;
  color: var(--colorLink);
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-sm;
  font-weight: bold;
  letter-spacing: 1px;
  margin: $margin-sm $margin-xs/4 0 0;
  padding: $margin-xs $margin-md;
}

.items-content-button:hover,
#comment-form input[type="submit"]:hover,
.feedback-button:hover {
  opacity: 0.8
}

.items #content:after {
  clear: both;
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

#next-item {
  float: right;
}

.sort-label {
  display: inline-block;
}

#primary #gallery-item,
#primary #gallery-item-mobile, // FIXME???
#sidebar #photogallery {
  //height: 100%;
  max-width: 150px;
  margin: 0;
  //overflow: hidden;
  padding: 0;
  //width: 100%;
}

.fullsize {
  margin-right: $margin-sm;
}

#sidebar #gallery-item img,
#primary #gallery-item-mobile img { // FIXME???
  //height: 100%;
  margin: 0;
  //max-height: 225px;
  padding: 0;
  //width: auto;
}

.items.show h3 {
  margin-bottom: $margin-md;
  //width: 100%;
}

/* Items Classes*/
.element {
  clear: both;
  position: relative;
}

.browse .item {
  border-bottom: 1px solid #eee;
  //clear: both;
  //float: left;
  padding: 3em 0;
  //width: 100%;
}

.item .tags {
  clear: left;
  margin-left: 216px;
}

.item .item-file a {
  display: block;
  height: 9em;
}

.item .item-file a img {
  height: 100%;
  width: auto;
}

.item h2 {
  margin-top: 0;
}

.featured-items {
  margin-left: -$margin-sm;
}

#featured-items-container,
#recent-items
{
  border-top: 1px solid var(--colorLine);
}

.item.record {
}

.item.record .item-container {
  margin: $margin-sm;
  position: relative;
}

.item.record img {
  width: 100%;
}

.item.record .item-title-overlay {
  display: block;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
}

.item.record .item-title {
  padding: $margin-sm;
  /*font-size: 1.2vw;*/
  font-size: $font-size-base;
}

/* @end */

/* @group ----- Items/Browse ----- */
.browse .item h2,
.browse .item-meta .item-img {
  display: inline;
  float: left;
  margin-left: $margin-sm;
  margin-right: $margin-sm;
  width: 220px;
}

.browse .item h2 {
  margin-bottom: 0;
  margin-left: 0;
  //max-width: 100%;
}

.browse .item-meta .item-img {
  margin-right: 0;
  float: right;
  text-align: right;
}

.browse .item-img img {
  height: 10.5em;
}

.browse .item-meta,
.browse .item-meta > div {
  display: inline;
  //float: left;
  margin: 0;
  //max-width: 100%;
  //width: 700px;
}

.browse .item-meta > div {
  //width: 460px;
}

.browse .item-meta .item-description {
  margin-bottom: $margin-md;
}

.browse .item-meta .item-description:only-of-type {
  margin-bottom: 0;
}

#sort-links {
  display: block;
  float: right;
  list-style-type: none;
  padding: 0;
}

#sort-links ul {
  padding-left: 0;
}

#sort-links ul li {
  display: inline-block;
  padding-left: $margin-sm;
}

#outputs {
  clear: both;
}

.item-img a {
  display: block;
}

/* @end */
/* @group ----- Items/Search ----- */
.field {
  margin-bottom: $margin-md;
  overflow: hidden;
}

.search h1 {
  margin: $margin-lg 0 0 0;
  //min-width: 470px;
  //max-width: 850px;
  padding-bottom: $margin-md;
  //width: calc(100% - 250px);
}

.search-entry:first-child .advanced-search-joiner {
  display: none;
}

.search-entry select {
  margin-bottom: 0.75em;
}

.remove_search {
  color: #666;
  height: 18px;
  position: relative;
  text-indent: -9999px;
  width: 18px;
}

.remove_search:after {
  content: "\f00d";
  font-family: "FontAwesome", sans-serif;
  left: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: 100%;
}

/* @end */

/* @group ----- Items/Browse ----- */
.browse .item img {
  margin-bottom: $margin-md;
  margin-top: $margin-md;
}

.browse .item.record h2 {
  margin-bottom: $margin-sm;
}

.browse .item-meta .item-img {
  float: left;
  margin: 0 $margin-md 0 0;
  width: auto;
}

.browse .item-meta .item-img img {
  margin-top: 0;
}

.browse .item {
  padding: $margin-md 0;
}

.browse .item-meta > div {
  float: none;
}

#sort-links {
  float: left;
}

/* @end */

.item-summary {
  border-bottom: 1px dashed var(--colorLineDashed);
  color: var(--colorText);
  //cursor: pointer;
  margin: -1px 0 $margin-lg 0;
  //max-width: 960px;
  //min-height: 197px;
  //width: calc(100% - 250px);
}

.item-summary-wrapper {
  margin-left: $thumbnail-width;
  padding-left: $margin-lg;
  padding-bottom: $margin-md;
}

.item-summary:hover.item-summary-title {
  text-decoration: underline;
}

.item-summary-wrapper:hover {
  text-decoration: none;
}

.item-summary:hover.item-summary img {
  opacity: 0.8;
}

.item-summary img {
  background: #c2c2c2;
  float: left;
  height: $thumbnail-width;
  margin: 0 $margin-lg 0 0;
  text-align: center;
  width: $thumbnail-width;
}

.item-summary-image-blank {
  background: #c2c2c2;
  display: block;
  float: left;
  height: $thumbnail-width;
  margin: 0 $margin-lg 0 0;
  text-align: center;
  width: $thumbnail-width;
}

.item-summary-title {
  color: var(--colorLink);
  font-size: $font-size-xl;
  line-height: 1.25;
  margin-bottom: $margin-xs;
  text-transform: none;
}

.item-summary p {
  font-size: $font-size-sm;
  margin: $margin-sm 0 0 0;
}


