/* @group ----- Items ----- */
.items-content-button,
#comment-form input[type="submit"],
.feedback-button {
  background: var(--colorButton);
  border: 0;
  color: var(--colorLink);
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-sm;
  font-weight: bold;
  letter-spacing: 1px;
  margin: $margin-sm $margin-xs/4 0 0;
  padding: $margin-xs $margin-md;
}

//.items-content-button:hover,
//#comment-form input[type="submit"]:hover,
//.feedback-button:hover {
//  opacity: 0.8
//}

//.items #content:after {
//  clear: both;
//  content: "\0020";
//  display: block;
//  height: 0;
//  visibility: hidden;
//}

#next-item {
  float: right;
}

.sort-label {
  display: inline-block;
}

#primary #gallery-item,
#primary #gallery-item-mobile, // FIXME???
#sidebar #photogallery {
  max-width: 200px;
  overflow: hidden;
}

.fullsize {
  margin-right: $margin-sm;
}

.item-list {
  @include list-unstyled();
}

/* Items Classes*/
//.element {
//  clear: both;
//  position: relative;
//}

//.item .tags {
//  clear: left;
//  //margin-left: 216px;
//}

.item .item-file a {
  display: block;
  height: 9em;
}

.item .item-file a img {
  height: 100%;
  width: auto;
}

/* @group ----- Items/Browse ----- */
.items-nav {
  margin-bottom: $margin-md;

  > ul {
    > li {
      display: inline;
      margin-right: $margin-xs;
    }

    > li+li:before {
      content: '/';
      margin-right: $margin-xs;
    }
  }
}

//.browse .item h2,
//.browse .item-meta .item-img {
//  display: inline;
//  float: left;
//  margin-left: $margin-sm;
//  margin-right: $margin-sm;
//}
//
//.browse .item h2 {
//  margin-bottom: 0;
//  margin-left: 0;
//}

//.browse .item-meta .item-img {
//  margin-right: 0;
//  float: right;
//  text-align: right;
//}

//.browse .item-img img {
//  height: 10.5em;
//}

//.browse .item-meta,
//.browse .item-meta > div {
//  display: inline;
//  margin: 0;
//}

//.browse .item-meta .item-description {
//  margin-bottom: $margin-md;
//}
//
//.browse .item-meta .item-description:only-of-type {
//  margin-bottom: 0;
//}

#sort-links {
  margin-bottom: $margin-md;
}

#sort-links ul {
  display: inline;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

#sort-links ul li {
  display: inline-block;
  padding-left: $margin-sm;
}

#outputs {
  clear: both;
}

.item-img a {
  display: block;
}

/* @end */
/* @group ----- Items/Search ----- */
//.search h1 {
//  margin: $margin-lg 0 0 0;
//  padding-bottom: $margin-md;
//}

//.search-entry:first-child .advanced-search-joiner {
//  display: none;
//}
//
//.search-entry select {
//  margin-bottom: 0.75em;
//}

.remove_search {
  color: #666;
  height: 18px;
  position: relative;
  text-indent: -9999px;
  width: 18px;
}

.remove_search:after {
  content: "\f00d";
  font-family: "FontAwesome", sans-serif;
  left: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: 100%;
}

/* @end */

/* @group ----- Items/Browse ----- */
//.browse .item img {
//  margin-bottom: $margin-md;
//  margin-top: $margin-md;
//}
//
//.browse .item.record h2 {
//  margin-bottom: $margin-sm;
//}

//.browse .item-meta .item-img {
//  float: left;
//  margin: 0 $margin-md 0 0;
//  width: auto;
//}
//
//.browse .item-meta .item-img img {
//  margin-top: 0;
//}
//
//.browse .item {
//  padding: $margin-md 0;
//}
//
//.browse .item-meta > div {
//  float: none;
//}
//
//#sort-links {
//  float: left;
//}

/* @end */

.item-summary:hover.item-summary-title {
  text-decoration: underline;
}

.item-summary-wrapper:hover {
  text-decoration: none;
}

.item-summary:hover.item-summary img {
  opacity: 0.8;
}

