//.map-document {
//  display: block;
//}
//
//.map-document-mobile {
//  color: var(--colorLink);
//  display: none;
//}
//
#map-toggle-fullscreen,
.exhibit-map-toggle {
  color: var(--colorLink);
  cursor: pointer;
  display: inline;
  float: right;
  font-size: $font-size-base;
  margin-top: -$margin-lg;
  text-transform: none;
}

.exhibit-map-toggle {
  margin-top: -$margin-lg;
}

#map-toggle-fullscreen-icon,
.exhibit-map-toggle-icon {
  float: right;
  margin-left: $margin-xs;
}


