
body {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.nav-bar {
  background: var(--colorBackground);
  color: var(--colorText);
  width: 0;

  height: 0;
  visibility: collapse;
  flex-basis: 0;
  font-size: $font-size-sm;
  margin: 0;
  position: relative;
}

#nav-bar-search,
#nav-bar-menu {
  min-width: 0;
  transition-timing-function: linear;
  transition: min-width .4s;
}

// When the other menu(s) are open, disable
// the transition on this one
body.search-menu #nav-bar-menu {
  min-width: unset;
  transition: unset;
}

body.exhibits-menu #nav-bar-search {
  min-width: unset;
  transition: unset;
}

body.search-menu #nav-bar-search,
body.exhibits-menu #nav-bar-menu {
  height: unset;
  width: unset;
  display: block;
  visibility: visible;
  padding: $margin-md;

  min-width: 280px;

  @include media-breakpoint-up(md) {
    border-right: 1px solid var(--colorLine);
  }
}

.nav-bar-button-text {
  display: none;
  float: left;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

#nav-bar-buttons {
  background: var(--colorBackground);
  border-bottom: 1px solid var(--colorLine);
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  @include media-breakpoint-up(md) {
    flex-direction: column;

    border-bottom: 0;
    border-right: 1px solid var(--colorLine);

    display: inline-block;
    width: 80px;
  }
}

.nav-bar-button {
  min-width: 80px;
  text-decoration: none !important;
  background: var(--colorBackground);
  color: var(--colorLink);
  cursor: pointer;
  font-size: $font-size-sm;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: center;

  // Flex display to correctly stack icon and label.
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: $margin-xs $margin-sm;

  border-right: 1px solid var(--colorLine);
  border-bottom: 1px solid var(--colorLine);
  margin-bottom: -1px;

  .material-icons {
    float: left;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: unset;
    margin-right: -1px;
    padding: $margin-sm $margin-md;
    align-items: center;

    .material-icons {
      float: unset;
    }
    &#nav-bar-button-menu {
      // Hack to account for additional height
      // of the menu icon
      padding-top: $margin-xs;
    }
  }
}

#nav-bar-icon-close-menu,
#nav-bar-icon-close-search {
  font-size: 48px;
  display: none;
  float: left;
}

body.exhibits-menu #nav-bar-button-menu,
body.search-menu #nav-bar-button-search {
  // Menu is open, change the color...
  color: var(--colorTitle);

  // The menu is open: hide it's bottom border...
  border-bottom: 1px solid transparent;

  @include media-breakpoint-up(md) {
    // ... or in wide view, it's right border
    border-bottom: 1px solid var(--colorLine);
    border-right: 1px solid transparent;
  }
}

body.exhibits-menu #nav-bar-icon-close-menu,
body.search-menu #nav-bar-icon-close-search {
  // The menu is open: close the close icon
  display: block;

  @include media-breakpoint-up(md) {
    // ... except in wide view.
    display: none;
  }
}

body.exhibits-menu #nav-bar-icon-menu,
body.search-menu #nav-bar-icon-search {
  // and hide the regular icon.
  display: none;

  @include media-breakpoint-up(md) {
    // Except in wide view.
    display: block;
  }
}

#nav-bar-icon-search {
  // Hack: the search icon is too big
  font-size: 36px;
}

#nav-bar-icon-menu {
  font-size: 48px;
}

#nav-bar-icon-text-search {
  margin: -1px 0 0 0;
}

#nav-bar-icon-text-menu {
  margin: -$margin-xs 0 0 0;
}

#nav-bar-menu ul {
  list-style: none;
}

.nav-bar a {
  color: var(--colorText);
}

#nav-bar-search #search-container #query {
  width: 100%;
  margin-bottom: $margin-md;
}

.nav-bar-search-category {
  color: var(--colorTitle);
  font-size: $font-size-xl;
  margin-bottom: $margin-xs;
}

.nav-bar-search-line {
  border-top: 1px dashed var(--colorLineDashed);
  height: 1px;
  margin: $margin-md 0;
}

.nav-bar-search-item {
  margin-bottom: 5px;
}

.nav-bar-search-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-bar-search-item-close {
  color: var(--colorLink);
  clear: both;
  cursor: pointer;
  display: inline;
  font-size: $font-size-sm;
  vertical-align: middle;
  margin-left: 5px;
}

a.nav-bar-search-item-close {
  color: var(--colorLink);
}

.nav-bar-search-group {
  font-size: $font-size-sm;
  letter-spacing: 1px;
  margin: $margin-sm 0;
}

.nav-bar-back {
  display: none;
  background: var(--colorButtonBack);
  cursor: pointer;
  height: 39px;
  position: relative;

  @include media-breakpoint-up(md) {
    width: 20px;
    display: block;
    position: absolute;
    right: -20px;
    top: 0;
    z-index: 2;
  }
}

.nav-bar-back-icon {
  color: var(--colorBackground);
  display: block;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#nav-bar-limit-expand,
#nav-bar-limit-shrink {
  color: var(--colorLink);
  float: right;
  font-size: 36px;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

// By default, facets are hidden in mobile view
#nav-bar-limit-search{
  display: none;

  &.expand {
    display: block;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}

#nav-bar-limit-toggle {
  cursor: pointer;

  @include media-breakpoint-up(md) {
    cursor: unset;
    pointer-events: none;
  }
}

// By default, shrink icon is hidden
#nav-bar-limit-shrink {
  display: none;
}

#nav-bar-limit-toggle.collapse {
  #nav-bar-limit-shrink {
    display: none;
  }
  #nav-bar-limit-expand {
    display: block;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

#nav-bar-limit-toggle.expand {
  #nav-bar-limit-expand {
    display: none;
  }
  #nav-bar-limit-shrink {
    display: block;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}


#nav-bar-search-back {
  margin: 0 0 0 280px;
  padding: 0;
}

#nav-bar-menu ul {
  padding: 0;
  margin-top: $margin-sm;
}

#nav-bar-menu > ul > li > a,
.nav-bar-menu-item {
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin-bottom: $margin-sm;
}

#nav-bar-menu > ul > li > ul > li a,
.nav-bar-menu-subitem {
  cursor: pointer;
  display: block;
  margin: 0 $margin-md $margin-sm $margin-sm;
}

