.nav-bar {
  background: var(--colorBackground);
  border-right: 1px solid var(--colorLine);
  bottom: 0;
  color: var(--colorText);
  display: none;
  font-size: 14px;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  padding: 30px 0 0 0;
}

body.search-menu #nav-bar-search, body.exhibits-menu #nav-bar-menu {
  display: block;
}

#nav-bar-buttons {
  background: var(--colorBackground);
  border-right: 1px solid var(--colorLine);
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#nav-bar-mobile-buttons {
  background: var(--colorBackground);
  border-bottom: 1px solid var(--colorLine);
  display: none;
  margin: 0;
  padding: 0;
}

/* ONLY SAFARI */
/* z-index fix */
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio: 0) {
  #nav-bar-buttons {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.nav-bar-button {
  text-decoration: none !important;
  background: var(--colorBackground);
  border-bottom: 1px solid var(--colorLine);
  border-top: 1px solid var(--colorLine);
  color: var(--colorLink);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 90px;
  letter-spacing: 0.8px;
  padding: 0 0 12px 0;
  position: fixed;
  text-align: center;
  width: 79px;
  z-index: 9050;
}

.nav-bar-mobile-button {
  background: var(--colorBackground);
  border: 1px solid var(--colorLine);
  border-top: none;
  color: var(--colorLink);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 0.8px;
  padding: 0 0 12px 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 68px;
  z-index: 9050;
}

body.search-menu #nav-bar-button-search,
body.exhibits-menu #nav-bar-button-menu {
  color: var(--colorTitle);
  border-right: 1px solid var(--colorBackground);
  width: 80px;
  z-index: 9080;
}

.nav-bar-mobile-button.selected {
  color: var(--colorTitle);
  border-bottom: 1px solid var(--colorBackground);
  height: 50px;
  z-index: 9080;
}

#nav-bar-button-search {
  border-top: 1px solid var(--colorBackground);
  top: 0;
}

#nav-bar-mobile-button-search {
  left: 67px;
}

#nav-bar-button-menu {
  top: 89px;
}

#nav-bar-mobile-button-menu {
  border-left: 1px solid var(--colorBackground);
  left: 0;
}

#nav-bar-icon-search {
  font-size: 36px;
  margin: 0 auto;
  padding: 14px 0 0 0;
}

#nav-bar-mobile-icon-search {
  font-size: 36px;
  margin: 0 auto;
  padding: 8px 0 0 0;
}

#nav-bar-icon-menu {
  font-size: 48px;
  margin: 0 auto;
  padding: 9px 0 0 0;
}

#nav-bar-mobile-icon-menu {
  font-size: 48px;
  margin: 0 auto;
  padding: 1px 0 0 0;
}

#nav-bar-icon-text-search {
  margin: -1px 0 0 0;
}

#nav-bar-icon-text-menu {
  margin: -7px 0 0 0;
}

#nav-bar-menu ul {
  list-style: none;
}

.nav-bar a {
  color: var(--colorText);
}

#nav-bar-search {
  padding: 0;
}

.nav-bar-search-category {
  color: var(--colorTitle);
  font-size: 22px;
  float: left;
  margin: 0 0 15px 15px;
  padding: 5px 0 0 0;
  text-transform: none;
  width: 250px;
}

.nav-bar-search-line {
  border-top: 1px dashed var(--colorLineDashed);
  float: left;
  height: 1px;
  margin: 5px 15px 20px 15px;
  width: 248px;
}

.nav-bar-search-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-bar-search-item {
  cursor: pointer;
  float: left;
  margin: 0 0 15px 15px;
  width: 100%;
}

.nav-bar-search-item-close {
  color: var(--colorLink);
  clear: both;
  cursor: pointer;
  display: inline;
  font-size: 14px;
  margin: 5px 0 0 5px;
}

a.nav-bar-search-item-close {
  color: var(--colorLink);
}

.nav-bar-search-group {
  float: left;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 10px 0 15px 15px;
  width: 100%;
}

.nav-bar-back {
  background: var(--colorButtonBack);
  cursor: pointer;
  height: 39px;
  position: fixed;
  margin: -30px 0 0 280px;
  width: 20px;
  z-index: 9050;
}

.nav-bar-back-icon {
  color: var(--colorBackground);
  display: block;
  font-size: 24px;
  margin: 6px 0 0 -2px;
}

#nav-bar-limit-expand,
#nav-bar-limit-shrink {
  color: var(--colorLink);
  display: none;
  float: right;
  font-size: 36px;
  margin: 12px -7px 0 0;
}

#nav-bar-limit-toggle {
  cursor: pointer;
}

#nav-bar-search-back {
  margin: 0 0 0 280px;
  padding: 0;
}

#nav-bar-menu ul {
  padding: 0;
  margin-top: 15px;
}

#nav-bar-menu > ul > li > a,
.nav-bar-menu-item {
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 0 0 15px 15px;
  padding-top: 10px;
}

#nav-bar-menu > ul > li > ul > li a,
.nav-bar-menu-subitem {
  cursor: pointer;
  display: block;
  margin: 0 20px 15px 15px;
}

