body.neatline {
  // Prevent theme flexbox layout from messing
  // up the iframe maps
  display: block;
}

/** Neatline overrides **/
.content > .content-info-entity-body {
  border: 1px solid var(--colorBorderContent);
}

.content-info-entity-body > .content-info-entity-note {
  max-height: 360px;
  overflow-y: auto;
  padding: 0 18px 18px 18px;
  border-bottom: 1px solid var(--colorBorderContent);
}

.element-text-page .element-text-page-icon {
  float: left;
  font-size: $font-size-base;
  margin: 3px 6px 0 3px;
}

.content-info-entity-body > ul.content-info-entity-footer {
  border-top: none;
  margin: 0;
  padding: 0;
}

.content-info-entity-body .content-info-entity-footer li {
  border-bottom: 1px solid var(--colorBorderContent);
  background-color: #fefefe;
}

.content-info-entity-body > ul.content-info-entity-footer :last-child {
  border-bottom: none;
}

.content-info-entity-body .content-info-entity-footer a {
  display: block;
  padding: 5px 18px;
  vertical-align: middle;
  line-height: 1.8;
}

.content-info-entity-body .content-info-entity-footer a > * {
  vertical-align: middle;
}

.content-info-entity-body .content-info-entity-footer a:hover {
  background-color: rgba(82, 168, 236, 0.1);
  text-decoration: none;
}

.content-info-entity-body .content-info-entity-footer a .material-icons {
  margin-right: 4px;
}

#exhibit-blocks > .exhibit-block .search-result {
  width: 100%;
}

#neatline-narrative .element-text-page {
  font-weight: bold;
}

#neatline-narrative .element-text-page-icon {
  display: none;
}

.neatline-control {
  display: none;
}
