.item-pagination {
  clear: both;
  margin-bottom: $margin-sm;
  overflow: hidden;
  width: auto;
}

#item-pagination-desktop {
  display: block;
}

#item-pagination-mobile {
  border-top: 1px solid var(--colorLine);
  margin: 25px 5% 0 -6%;
  padding: 25px 5% 0 6%;
  width: 112%;
  display: none;
}

.item-pagination-previous {
  float: left;
  margin: 0 $margin-lg 0 0;
}

.item-pagination-next {
  float: left;
  margin: 0;
}

.exhibit-pagination a, .exhibit-pagination span {
  display: inline;
  float: left;
  margin-right: $margin-sm;
}

/* HACK */
.exhibit-pagination br {
  display: none;
}

.exhibit-pagination a, .exhibit-pagination span {
  display: inline;
  float: left;
  margin-right: $margin-sm;
}

/* HACK */
.exhibit-pagination br {
  display: none;
}

