/* REFERENCES */
#document-refs .ehri-item-container > .ehri-item {
  padding: 18px;
}

#document-refs .ehri-item-footer {
  margin-top: 5px;
  padding: 6px;
}

#document-refs .ehri-item-container {
  border: 1px solid #ddd;
  box-shadow: none;
}

#document-refs .ehri-item-container > .ehri-item > .ehri-item-heading > h2 {
  margin-bottom: 5px;
}

#document-refs .ehri-item-container > .ehri-item-footer a {
  margin-right: 4px;
}

#document-refs .ehri-item .ehri-item-details ul {
  margin: 5px 0 10px 0;
}

