.related-chapters-box {
  float: left;
  margin: 0 0 -10px 0;
  max-width: 970px;
  width: calc(100% + 290px);
}

#exhibit-home-primary .related-chapters-box {
  float: left;
  max-width: 970px;
  margin: 0 0 70px 0;
  width: 100%;
}

#home .related-chapters-box {
  display: block;
  width: 100%;
}

.related-chapters:hover {
  opacity: 0.8;
}

.exhibit-home-related-chapters-box .exhibit.record:hover {
  opacity: 0.8;
}

.exhibit-home-related-chapters-box .exhibit.record:hover .exhibit.record h3 {
  color: var(--colorLink);
  text-decoration: underline;
}

.related-chapters:hover .related-chapters-title {
  color: var(--colorLink);
  text-decoration: underline;
}

.related-chapters-title,
.exhibit.record h3 {
  border: 0;
  font-size: 20px;
  font-weight: bold;
  height: 22px;
  margin: $margin-lg 0 0 295px;
  padding: 0;
  text-transform: none;
}

#home .related-chapters-title,
.exhibit.record h3 {
  color: var(--colorLink);
  font-size: 22px;
  font-weight: bold;
  margin: $margin-md 0 $margin-md 295px;
  text-transform: none;
  width: 100%;
}

.related-chapters p,
.exhibit.record p {
  font-size: 17px;
  margin: $margin-sm 0 0 295px;
  max-width: 675px;
}

#home .related-chapters p,
.exhibit.record p {
  line-height: 1.54;
  max-width: 100%;
}

