// SASS variables

// font sizes...
$font-size-xs: .75rem;      // 12px
$font-size-sm: 0.875rem;    // 14px
$font-size-base: 1.0625rem; // 17px
$font-size-lg: 1.25rem;     // 20px
$font-size-xl: 1.375em;     // 22px

// golden ratio margins...
$margin-xs: 0.5rem;     // 8px
$margin-sm: 0.809rem;   // ~12px
$margin-md: 1.309rem;   // ~21px
$margin-lg: 2.118rem;   // ~34px
$margin-xl: 3.427rem;   // ~55px

// Map heights
$map-md: 410px;
$map-lg: 600px;

$box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !default;
$box-shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075) !default;

$grid-gutter-width: $margin-lg * 2;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 1040px,
        xl: 1440px
) !default;

$thumbnail-width: 135px;

