// SASS variables

// font sizes...
$font-size-xs: .75rem;      // 12px
$font-size-sm: 0.875rem;    // 14px
$font-size-base: 1.0625rem; // 17px
$font-size-lg: 1.25rem;     // 20px
$font-size-xl: 1.375em;     // 22px

// golden ratio margins...
$margin-xs: 0.5rem;     // 8px
$margin-sm: 0.809rem;   // ~12px
$margin-md: 1.309rem;   // ~21px
$margin-lg: 2.118rem;   // ~34px
$margin-xl: 3.427rem;   // ~55px

// golden ratio paddings...
$padding-xs: 0.5rem;    // 8px
$padding-sm: 0.809rem;  // ~12px
$padding-md: 1.309rem;  // ~21px
$padding-lg: 2.118rem;  // ~34px
$padding-xl: 3.427rem;  // ~55px

// Map heights
$map-md: 410px;
$map-lg: 600px;

$box-shadow: 0 .5rem 1rem rgba(#000, .15) !default;
